@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 223 54% 28%;
    --foreground: 210 40% 98%;
    --card: 223 57% 22%;
    --card-foreground: 210 40% 98%;
    --popover: 223 57% 22%;
    --popover-foreground: 210 40% 98%;
    --primary: 195 53% 79%;
    --primary-foreground: 223 57% 22%;
    --secondary: 223 54% 22%;
    --secondary-foreground: 210 40% 98%;
    --muted: 223 54% 22%;
    --muted-foreground: 210 40% 80%;
    --accent: 195 53% 79%;
    --accent-foreground: 223 57% 22%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 54% 35%;
    --input: 223 54% 35%;
    --ring: 195 53% 79%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 223 54% 28%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 195 53% 79%;
    --sidebar-primary-foreground: 223 57% 22%;
    --sidebar-accent: 223 54% 35%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 223 54% 22%;
    --sidebar-ring: 195 53% 79%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
